<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>{% block title %}{% endblock %}</title>
  
</head>

<body>
    <nav style="background-color: #FF0018;" class="navbar navbar-expand-md navbar-dark fixed-top">
       
        <a class="navbar-brand" href="/"><h2> <i class="fas fa-hand-holding-heart"></i> Blood Bank</h2> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="container w-75 d-flex justify-content-between">
                <div class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <div class="ms-auto d-flex">
                        <h5><a class="nav-item nav-link active" href="/profile/">  <i class="fas fa-user"></i>  Profile</a> </h5>
                        <h5><a class="nav-item nav-link active" href="/edit_profile/"> <i class="fas fa-user-edit"></i> Edit Profile</a></h5>
                        <h5><a class="nav-item nav-link active" href="/see_all_request/"><i class="fas fa-clipboard-list"></i>All_Request</a></h5>
                        <h5><a class="nav-item nav-link active" href="/logout/"><i class="fas fa-sign-out-alt"></i>Logout</a></h5>
                       
                    </div>
                    {% else %}
                    <h5><a class="nav-item nav-link active" href="/"><i class="fas fa-home"></i>&nbsp; Home </a></h5>
                    <h5><a class="nav-item nav-link active" href="/request_blood/"><i class="fas fa-user"></i>&nbsp; Patient</a></h5>
                     <h5><a class="nav-item nav-link active" href="/see_all_request/"><i class="fas fa-clipboard-list"></i>All_Request</a></h5>
                     <h5> <a class="nav-item nav-link active" href="/become_donor/"><i class="fas fa-user"></i>&nbsp; Donor</a></h5>
                     <h5> <a class="nav-item nav-link active" href="/login/"> <i class="fas fa-sign-in-alt"></i> Login</a></h5>
                    {% endif %}
                </div>
        
                {% if request.user.is_authenticated %}
                <h1><a href="{% url "profile"%}" class="nav-item nav-link active text-white"><h4><i class="fas fa-smile"></i> Welcome {{ request.user }}</a></h4>
                {% endif %}
            </div>
        </div>
        
    </nav><br>

        {% block body %}
        {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

        {% block js %}
        {% endblock %}
</body> 
</html>