

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url "home" %}">Blood Bank<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url "list" %}">All List <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "Add_Donner" %}">Add Donner</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Blood Group</a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="{% url "A_pos" %}">A(+)</a></li>
            <li><a class="dropdown-item" href="{% url "A_neg" %}">A(-)</a></li>
            
            <li><a class="dropdown-item" href="{% url "AB_pos" %}">AB(+)</a></li>
            <li><a class="dropdown-item" href="{% url "AB_neg" %}">AB(-)</a></li>
      
            <li><a class="dropdown-item" href="{% url "B_pos" %}">B(+)</a></li>
            <li><a class="dropdown-item" href="{% url "B_neg" %}">B(-)</a></li>
            
            <li><a class="dropdown-item" href="{% url "O_pos" %}">O(+)</a></li>
            <li><a class="dropdown-item" href="{% url "O_neg" %}">O(-)</a></li>
           
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>

      <form action={% url 'search'%} class="d-flex" role='search' method="post">
        {%csrf_token%}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
         name="output">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </nav>
  


  